/* Increase size on hover */
.group {
  transition: transform 0.3s ease;
}

.group:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}

.overlap-2 {
  transition: transform 0.3s ease;
}

.overlap-2:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}

.overlap-group-wrapper{
  transition: transform 0.3s ease;
}

.overlap-group-wrapper:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}

.things-i-did-till-wrapper {
  transition: transform 0.3s ease;
}

.things-i-did-till-wrapper:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}


.macbook-air {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.macbook-air .overlap-wrapper {
  background-color: #1e1e1e;
  overflow: hidden;
  width: 1280px;
  height: 832px;
}

.macbook-air .overlap {
  position: relative;
  width: 1201px;
  height: 828px;
  top: 2px;
  left: 81px;
}

.macbook-air .vector {
  position: absolute;
  width: 1053px;
  height: 828px;
  top: 0;
  left: 33px;
}

.macbook-air .text-wrapper {
  position: absolute;
  top: 57px;
  left: 490px;
  font-family: "Figma Hand-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .group {
  position: absolute;
  width: 135px;
  height: 49px;
  top: 34px;
  left: 890px;
}

.macbook-air .overlap-group {
  position: relative;
  width: 133px;
  height: 49px;
  background-color: #1e1e1e;
  border-radius: 64px;
  border: 3px solid;
  border-color: #3c6bc3;
}

.macbook-air .div {
  position: absolute;
  top: 5px;
  left: 30px;
  font-family: "Figma Hand-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .overlap-group-wrapper {
  position: absolute;
  width: 135px;
  height: 49px;
  top: 104px;
  left: 930px;
}

.macbook-air .text-wrapper-2 {
  position: absolute;
  top: 5px;
  left: 31px;
  font-family: "Figma Hand-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .div-wrapper {
  position: absolute;
  width: 159px;
  height: 49px;
  top: 174px;
  left: 971px;
}

.macbook-air .overlap-2 {
  position: relative;
  width: 157px;
  height: 49px;
  background-color: #1e1e1e;
  border-radius: 64px;
  border: 3px solid;
  border-color: #3c6bc3;
}

.macbook-air .text-wrapper-3 {
  position: absolute;
  top: 7px;
  left: 18px;
  font-family: "Figma Hand-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .group-2 {
  position: absolute;
  width: 166px;
  height: 168px;
  top: 59px;
  left: 0;
}

.macbook-air .things-i-did-till-wrapper {
  position: relative;
  width: 181px;
  height: 184px;
  top: -4px;
  left: -9px;
  background-image: url(./EXimg/vector-10.svg);
  background-size: 100% 100%;
}

.macbook-air .things-i-did-till {
  position: absolute;
  top: 48px;
  left: 30px;
  font-family: "Figma Hand-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .EXimg {
  position: absolute;
  width: 242px;
  height: 23px;
  top: 116px;
  left: 463px;
}

.macbook-air .group-3 {
  position: absolute;
  width: 188px;
  height: 49px;
  top: 244px;
  left: 1013px;
}

.macbook-air .overlap-3 {
  position: relative;
  width: 175px;
  height: 49px;
  background-color: #1e1e1e;
  border-radius: 64px;
  border: 3px solid;
  border-color: #3c6bc3;
}

.macbook-air .text-wrapper-4 {
  position: absolute;
  top: 5px;
  left: 20px;
  font-family: "Figma Hand-Bold", Helvetica;
  font-weight: 700;
  color: #bcd8f1b8;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
